ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;
    text-align: center;
}
s
ul ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;
}

body {
    text-align: center;
}