ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}

body {
    background-color: wheat;
}

.kontakt {
    text-align: center;
}

.image {
    display: flex;
    flex-wrap: wrap;
}

.price {
    display: flex;
    justify-content: space-around;
}



